.offer {
    background-color: $lightest;
  }
  .offer_categories {
    @include _list();
    @include to_justify();
    flex-wrap: wrap;
    gap: 30px;
  }
  .offer_items {
    @include to_justify($content:center);
    flex-direction: column;
    background-color: #C4C4C4;
    width: $wrap/3 - 20px;
    height: 260px;
    background-repeat: no-repeat;
    text-align: center;
    &:nth-child(1) {
        background-image: url("../img/offer-women.jpg");
      }
    &:nth-child(2) {
        background-image: url("../img/offer-men.jpg");
      }
    &:nth-child(3) {
        background-image: url("../img/offer-kids.jpg");
      }
    &:nth-child(4) {
        background-image: url("../img/offer-accessories.jpg");
        height: 180px;
        width: 100%;
        margin-bottom: 96px;
      }
    }

  .offer_items:hover .offer_text {
    transform: scale(1.5) translateY(-10px);
  }
  .offer_text {
    width: 100%;
    font:
        {weight: bold;
        size: 24px;
        }
    line-height: 29px;
    color: $lightest;
    &::first-line {
        font-size: 16px;
        line-height: 19px;
      }
    @include basic_anim();
  }