* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

/* специальные повторяющиеся стили */
.pinktext {
  color: #F16D7F;
}
.hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  left: -9999px;
}
.center {
  display: flex;
  justify-content: center;
}

/* стили для контента */
.header {
  background-color: #222222;
}
.menu{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.menu_start {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_icons {
  display: block;
  padding-right: 33px;
}
.svg {
  fill: white;
}
.menu_icons:hover .svg {
  fill: #F16D7F;
}
.menu_list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_icons:last-of-type {
  padding-right: 0px;
}
.promo {
  background-color: #F1E4E6
}
.promo_content {
  height: 760px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 65px;
  /* background-image: url("../img/promo.png");
  background-repeat: no-repeat;*/
}
.promo_video {
  object-fit: cover;
  object-position: center;
  position: absolute;
  z-index: 0;
}
.promo_headings {
  font-weight: bold;
  font-size: 32px;
  color: #222222;
  line-height: 38px;
  border-left: 12px solid #F16D7F;
  margin-bottom: 10px;
  padding-left: 16px;
  z-index: 1;
}
.promo_headings::first-line {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.main {
  flex-grow: 1;
}
.offer {
  background-color: white;
}
.offer_categories {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.offer_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C4C4C4;
  width:360px;
  height: 260px;
  background-repeat: no-repeat;
  text-align: center;
}
.offer_items:nth-child(1) {
  background-image: url("../img/offer-women.jpg");
}
.offer_items:nth-child(2) {
  background-image: url("../img/offer-men.jpg");
}
.offer_items:nth-child(3) {
  background-image: url("../img/offer-kids.jpg");
}
.offer_items:nth-child(4) {
  background-image: url("../img/offer-accessories.jpg");
  height: 180px;
  width: 100%;
  margin-bottom: 96px;
}
.offer_text {
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.offer_text::first-line {
  font-size: 16px;
  line-height: 19px;
}

.products {
  background-color: white;
}
.products_container {
  margin-bottom: 110px;
}
.product_featured_heading {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  margin-bottom: 6px;
}
.product_featured_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  margin-bottom: 48px;
}
.product_list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 45px;
}
.product_card {
  width: 360px;
  background-color:#F8F8F8;
}
.product_video {
  object-fit: cover;
}
.product_info {
  padding: 20px;
}
.product_heading {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.product_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding: 20px 0;
}
.product_price {
  font-size: 16px;
  line-height: 19px;
}
.product_button {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  padding: 15px 40px;
  border: 1px solid #F26376;
}

.product_button:hover {
  background-color: #F16D7F;
  color: white;
}

.footer {
  background-color: #222224;
}
.feature_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 104px 0;
}
.feature_card {
  text-align: center;
  width: calc(1140px/3 - 20px);
  padding-left: 20px;
  padding-right: 20px;
}
.feature_heading {
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 20px;
  margin-bottom: 16px;
}
.feature_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.feedback {
  background-image: url("../img/bg-subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 155px;
}
.feedback_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedback_comments {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  width: 33%;
}
.feedback_photo {
  margin-bottom: 30px;
}
.subscribe {
  text-align: center;
  padding: 0 93px;
}
.subscribe_heading {
  font-size: 18px;
  line-height: 30px;
  color: #222224;
  margin-bottom: 32px;
}
.subscribe_heading::first-line {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
}
.subscribe_form {
  display: flex;
  justify-content: center;
}
.subscribe_form_field {
background-color: #E1E1E1;
border: none;
padding: 18px;
border-radius: 25px 0 0 25px;
font-family: inherit;
}
.subscribe_form_button {
background-color: #F16D7F;
border: none;
padding: 18px;
border-radius: 0 25px 25px 0;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}
.copyright_content {
 padding-top: 24px;
 padding-bottom: 24px;
 display: flex;
 justify-content: space-between;
}
.copyright_text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.social {
  display: flex;
  gap: 8px;
}
.social_icons {
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
width: 32px;
height: 32px;
background-color: white;
color: black;
text-decoration: none;
}
.social_icons:hover {
  background-color: #F16D7F;
  color:white
}

/*стили Каталога*/
.inner_title {
  background-color: #F8F3F4;
  padding: 65px 0;
}
.inner_title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner_title_heading {
  font-size: 24px;
  line-height: 29px;
}
.bread_list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.bread_item::before {
  content: '/';
  margin-right: 10px;
}
.bread_item:first-child::before {
  display: none;
}
.bread_link {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  transition: 0.2s;
}
.bread_link_current {
  font-weight: bold;
  color: #F16D7F;
}
.bread_link:hover {
  text-decoration: underline;
  color: #F16D7F;
}

.filters {
  padding-top: 55px;
  padding-bottom: 65px;
}
.filter_container {
  display: flex;
  align-items: center;
}
.filter_button {
  font-weight: 600;
  color: #000000;
  padding-left: 20px;
  width:360px;
  margin-right: 30px;
}
.filter_sort {
  display: flex;
  color: #6F6E6E;
  gap: 48px;
}
.pagination {
  list-style-type: none;
  display: flex;
  gap: 23px;
}
.page-link {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}
.active {
  color: #EF5B70;  
}